<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/index.css" />
    <%- include('layouts/head'); -%>
  </head>

  <body>
    <%- include('layouts/header'); -%> <%- include('layouts/navbar'); -%>
    <main>
      <section class="main__weather-section">
        <div class="main__today-wrapper main__day-wrapper">
          <div class="main__todayInfo main__dayInfo">
            <div class="main__today-date-wrapper main__date-wrapper">
              <div class="main__today-date main__day-date">2021-05-17</div>
              <div class="main__today-day main__day-day">(월)</div>
            </div>
            <div class="main__today-weather-wrapper main__weather-wrapper">
              <div class="main__today-location main__day-location">대구</div>
              <div class="main__today-temperature main__day-temperature">
                30도
              </div>
              <div class="main__today-weather main__day-weather">맑음</div>
            </div>
          </div>
          <div class="main__clothesExample">
            28℃~ 반팔, 반바지, 민소매, 샌들
          </div>
          <div class="main__todayClothes-wrapper main__dayClothes-wrapper">
            <div class="main__todayClothes main__dayClothes clothes1">
              <img src="<%= clothes[0].url %>" alt="" />
            </div>
            <div class="main__todayClothes main__dayClothes clothes2">
              <img
                src="https://image.msscdn.net/images/goods_img/20180424/763134/763134_4_500.jpg"
                alt=""
              />
            </div>
            <div class="main__todayClothes main__dayClothes clothes3">
              <img
                src="https://image.msscdn.net/images/goods_img/20180531/791575/791575_2_500.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__tomorrow-wrapper main__day-wrapper">
          <div class="main__tomorrowInfo main__dayInfo">
            <div class="main__tomorrow-date-wrapper main__date-wrapper">
              <div class="main__tomorrow-date main__day-date">2021-05-18</div>
              <div class="main__tomorrow-day main__day-day">(화)</div>
            </div>
            <div class="main__tomorrow-weather-wrapper main__weather-wrapper">
              <div class="main__tomorrow-location main__day-location">대구</div>
              <div class="main__tomorrow-temperature main__day-temperature">
                30도
              </div>
              <div class="main__tomorrow-weather main__day-weather">맑음</div>
            </div>
          </div>
          <div class="main__clothesExample">
            28℃~ 반팔, 반바지, 민소매, 샌들
          </div>
          <div class="main__tomorrowClothes-wrapper main__dayClothes-wrapper">
            <div class="main__tomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20190327/996177/996177_3_500.jpg"
                alt=""
              />
            </div>
            <div class="main__tomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20180424/763134/763134_4_500.jpg"
                alt=""
              />
            </div>
            <div class="main__tomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20180531/791575/791575_2_500.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__theDayAfterTomorrow-wrapper main__day-wrapper">
          <div class="main__theDayAfterTomorrowInfo main__dayInfo">
            <div
              class="main__theDayAfterTomorrow-date-wrapper main__date-wrapper"
            >
              <div class="main__theDayAfterTomorrow-date main__day-date">
                2021-05-19
              </div>
              <div class="main__theDayAfterTomorrow-day main__day-day">
                (수)
              </div>
            </div>
            <div
              class="
                main__theDayAfterTomorrow-weather-wrapper main__weather-wrapper
              "
            >
              <div
                class="main__theDayAfterTomorrow-location main__day-location"
              >
                대구
              </div>
              <div
                class="
                  main__theDayAfterTomorrow-temperature main__day-temperature
                "
              >
                30도
              </div>
              <div class="main__theDayAfterTomorrow-weathe main__day-weather">
                맑음
              </div>
            </div>
          </div>
          <div class="main__clothesExample">
            28℃~ 반팔, 반바지, 민소매, 샌들
          </div>
          <div
            class="
              main__theDayAfterTomorrowClothes-wrapper main__dayClothes-wrapper
            "
          >
            <div class="main__theDayAfterTomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20190327/996177/996177_3_500.jpg"
                alt=""
              />
            </div>
            <div class="main__theDayAfterTomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20180424/763134/763134_4_500.jpg"
                alt=""
              />
            </div>
            <div class="main__theDayAfterTomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20180531/791575/791575_2_500.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
    <script type="text/javascript" src="index.js"></script>
    <%- include('layouts/footer'); -%>
  </body>
</html>
