<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/mypage.css" />
    <%- include('layouts/head'); -%>
  </head>

  <body>
    <%- include('layouts/header'); -%>
   
    <div class="myPage-title"><a href="/">마이페이지</a></div>
    <main>
      <section class="main__myPage-section">
        <div class="main__myPage-list-title">작성글 관리</div>
        <div class="main__myPage-lists">

          <% for(let i=0; i<posts.length; i++){ %>
            <form action="/delete/<%-posts[i].id-%>" method="POST">

              <div class="main__myPage-list">
                <div class="main__myPage-content">
                  <img
                  src=<%- posts[i].image -%>
                  alt=""/>
                  <div class="main__myPage-content-description">
                    <h2><%= posts[i].title %></h2>
                    <%= posts[i].body %>
                    <button class="deleteBtn"type="submit">X</button>
                  </div>
                </div>
              </div>
              
              </form>
          <% } %>
          
        </div>
      </section>
    </main>
    <footer></footer>
    <script type="text/javascript" src="/js/index.js"></script>
    <%- include('layouts/footer'); -%>
  </body>
</html>
