<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/mypage.css" />
    <%- include('layouts/head'); -%>
  </head>

  <body>
    <%- include('layouts/header'); -%>
    <div class="myPage-title">&lt;마이페이지&gt;</div>
    <main>
      <section class="main__myPage-section">
        <div class="main__myPage-list-title">내가 올린 글</div>
        <div class="main__myPage-lists">

          <% for(let i=0; i<posts.length; i++){ %>
            <form action="/delete/<%-posts[i].id-%>" method="POST">
              <div class="main__myPage-list">
                <img
                  src=<%-posts[i].image-%>
                  alt=""
                />
                
              </div>
              <button type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
          <% } %>
          
        </div>
      </section>
    </main>
    <footer></footer>
    <script type="text/javascript" src="/js/index.js"></script>
    <%- include('layouts/footer'); -%>
  </body>
</html>
