<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/ootd.css" />
    <%- include('layouts/head'); -%>
  </head>
  <body>
    <%- include('layouts/header'); -%>
    <nav>
      <div class="nav__menu-wrapper">
        <ul class="nav__menus">
          <li class="nav__menu menuBorder">
            <a href="/">오늘의 날씨</a>
          </li>
          <li class="nav__menu">|</li>
          <li class="nav__menu menuBorder selected">
            <a href="/ootd">OOTD</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="section__write-ootd">
      <% if(loggedIn) { %>
      <button class="write-ootd-button">
        <a href="/write">작성하기</a>
      </button>
      <% } %>
    </section>
    <main>
      <section class="main__ootd-section">
        <div class="main__ootd-title"></div>
        <div class="main__ootd-contents">
          <% for(var i = 0; i < ootdposts.length; i++) { %>
          <div class="main__ootd-content">
            <img src=" <%= ootdposts[i].image %>" alt="이미지" />
            <div class="main__ootd-content-description">
              <h2><%= ootdposts[i].title %></h2>
              <br /><br />
              <%= ootdposts[i].body %>
            </div>
          </div>
          <% } %>
        </div>
      </section>
    </main>
    <%- include('layouts/footer'); -%>
  </body>
</html>
